/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(donating-blood-banner.jpg);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 60px; /* Space for fixed header */
    box-sizing: border-box;
}

/* Header Styles */
header {
    background-color: rgba(217, 83, 79, 0.2); /* Change to rgba for translucency */
    padding: 17px 0;
    width: 170%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 8px 15px;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #c9302c;
    border-radius: 5px;
}

/* Centered Container Styles */
.container {
    background-color: #f3f3f3;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    text-align: center;
}

/* Other Content Styles */
h1 {
    color: #d9534f;
    margin-bottom: 30px;
}

.search-form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

select, button {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    background-color: #d9534f;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c9302c;
}

#results {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

.button-group button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
}

.button-group button:hover {
    background-color: #c9302c;
}
